<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <title>Erro <%= status %></title>
  <link rel="shortcut icon" href="/images/repoGit.png" type="image/x-icon">
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <h1>Ocorreu um erro</h1>
  <p>Status: <%= status %></p>
  <p><%= message %></p>
  <a href="/">Voltar para a página inicial</a>
</body>
</html>
