<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <title>Erro <%= status %></title>
  <link rel="shortcut icon" href="/images/repoGit.png" type="image/x-icon">
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>

  <!-- Fundo animado -->
  <div class="bolhas">
    <span></span><span></span><span></span><span></span><span></span>
  </div>

  <div class="centralizado">
    <div class="card commits-card">
      <h1>Ocorreu um erro</h1>

      <p><strong>Status:</strong> <%= status %></p>
      <p><%= message %></p>

      <a href="/" class="btn-voltar">Voltar para a página inicial</a>
    </div>
  </div>

   <%- include('../partials/footer') %>
</body>
</html>
